<h1><img src="images/eyecon.png">Stop Mass Spying<img src="images/eyecon.png"></h1>
<p>
    Now’s our chance: Key parts of the Patriot Act expire on June 1 — including the one that the NSA claims lets it collect information about all Americans’ phone calls.  The intelligence agencies will work hard to make sure the provision gets reauthorized — but if we fight back, we have a chance of ending mass spying on Americans.
</p>
<p>
    We need to get loud now, and make sure Congress knows we won’t stand for this abuse of power any longer.
</p>